.dropdown-menu, .bg-dark, .list-group, .list-group-item{
    background-color: #2A4B8B !important;
}
.dropdown-menu a, .nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #000;
}
a.dropdown-item:hover{
    color: #000 !important;

}
.lead{
    font-weight: 500;
    color: #f3f3f3;
    padding: 1em;
}
/* The side navigation menu */
.sidenav {
height: 70%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
background-color: #2A4B8B; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
right: 0;
}

/* The navigation menu links */
.sidenav a {
/* padding: 8px 8px 8px 32px; */
text-decoration: none;
font-size: 1em;
color: #f3f3f3;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}
#ham {
display: inline-block;
cursor: pointer;

}

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #f3f3f3;
margin: 6px 0;
transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.dropdown-divider{
margin: 0 !important;
}
.dropdown{
padding: 1em !important;
}
#mySidenav li.list-group-item, #mySidenav a.nav-link{
padding: 0.5em !important;
font-size: 1em;
}
form{
    width: 40%;
    margin: 0 auto;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
.collapse {
   display: none !important;
}

}
@media (min-height: 450px) and (max-height: 760px) {
  #navSearch{
   width: 50% !important;
}
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
.collapse {
   display: none !important;
}

}
@media screen and (min-height: 700px) {
    form{
        width: 80%;
    }
    
    }

  #navSearch{
   width: 70% !important;
}

nav{
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}
.card{
    max-height: 100%;
}