<% include ./partials/header.ejs %>

<input id="card-name" type="text">
<!-- placeholder for Elements -->
<div id="card-element"></div>
<button id="card-button" data-secret="<%=secret%>">
  Submit Payment
</button>
<% include ./partials/footer.ejs %>
