<% include ./partials/header.ejs %>
<div class="jumbotron">
<h1>Welcome to the marketplace</h1>
</div>

<form class="form-inline">
<input type="text" name="" placeholder="Type in your search..." class="form-control col-mb-3">
<input class="btn btn-secondary"type="submit" value="search">

<% include ./partials/footer.ejs %>