<% include ./partials/header.ejs %>
<h1>Welcome to the marketplace</h1>
<form class="form-inline">
<input type="text" name="" placeholder="Type in your search..." class="form-control col-mb-3">
<input class="btn btn-secondary"type="submit" value="search">
</form>

<% include ./partials/footer.ejs %>