<% include ../partials/header.ejs %>
<h1>Welcome to the marketplace</h1>
<form>
<input type="text" name="" placeholder="Type in your search..." class="form-control">
<input type="submit" value="search">
</form>

<% include ../partials/footer.ejs %>