<% include ./partials/header.ejs %>

<style>
h1,#outLink{
    text-align: center;
    margin: 1em;  
    
}
</style>
<h1>Welcome Back </h1>


<% if(errMessage){ %>
    <p class="text-center text-warning"><%=errMessage%></p>
<% } %>
<form class="form" action="/user/login" method="POST"> 
    <input class="form-control" type="text" name = "username" placeholder="Username" required>
    <input class="form-control" type="password" name = "password" placeholder="Password" required>   

    <input class="form-control" type="submit" value="Login">
    </form>
    <div id="outLink">
    <small>Don't have an account? </small><a href="/user/register">Sign Up</a>
    </div>
<% include ./partials/footer.ejs %>