<% include ./partials/header.ejs %>
<h1>Welcome... </h1>
<h3>Signing up only takes a few seconds</h3>


<form class="form" action="/user/register" method="POST">
    <input class="form-control" type="text" name="user[first_name]" placeholder="First Name" required>
    <input class="form-control" type="text" name="user[last_name]" placeholder="Last Name" required>
    <input class="form-control" type="email" name = "user[email]" placeholder="Email Address" required>
    <input class="form-control" type="tel" name="user[phone]" placeholder="Phone Number" required>    
    <input class="form-control" type="text" name = "username" placeholder="Username" required>
    <input class="form-control" type="password" name = "password" placeholder="Password" required>   

    <input class="form-control" type="submit" value="Register">
    </form>
    <small>Already have an account? </small><a href="/user/login">Login</a>

<% include ./partials/footer.ejs %>