<% include ./partials/header.ejs %>

<form action="/upload" method="POST" enctype="multipart/form-data">
<input type="file" placeholder="Upload your file" class="form-control" name="avatar" id="" accept="image/png, image/jpeg">
<input type="submit" class="form-control" value="Go!">
</form>
<% include ./partials/footer.ejs %>
 