<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IXXO Marketplace</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</head>
<body>
        <div class="row">
                <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                    <ul class="navbar-nav mr-auto navbar-right">
                        <%  if(!user){ %>
                           <li class="nav-item">
                          <a class="nav-link" href="/user/register">Sign Up</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/user/login">Login</a>
                        </li>
                    <%  }
                      else{ %>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/logout">Logout</a>
                            </li> 
                            <li class="nav-item">
                                  <span class="nav-link">Signed in as <%= user.username %></a>
                              </span>
                                </li> 
                    
                      </ul>
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/profile/<%= user._id%>/dashboard">Dashboard</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/user/profile/<%= user._id%>/edit">Edit Profile</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/user/profile/<%= user._id%>/services/all">Services</a>
                        </li>
                  </ul>
                  <% } %>
                </nav>
              <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      
    
